# Backend
backend/target/
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.development.local
frontend/.env.production.local

# Local Infrastructure
deploy/local/.env

# IDE
.idea/
.vscode/
*.iml

# OS
Thumbs.db
.DS_Store

